<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <listeners>
    <listener class-name="Listeners.TestListeners"/>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Tests.HomeTest"/>
      <class name="Tests.CartTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
